header {
     background-color: #0000ff
}

h1{
    font-family: 'Times New Roman',  Times, serif; 
}

h2{
    font-family: 'Times New Roman',  Times, serif; 
}

nav ul li{
    font-weight: bolder;
}

#container{
    line-height: ;
}

.conteudo{
    line-height: ;
}

