header {
     background-color: #0000ff
}

h1{
    font-family: 'Times New Roman',  Times, serif; 
}

h2{
    font-family: 'Times New Roman',  Times, serif; 
}

nav ul li{
    font-weight: bolder;
}

#container{
    line-height: 10px;
}

.conteudo{
    line-height: 10px;
}

form{
    border: solid 1px #808080;
    padding: 10px;
}

p{
    color: #008000;
}

button{
    background-color: #0000ff;
    color: #ffffff;
}

