header {
    background-color: #0000ff
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

nav ul li {
    font-weight: bolder;
}

#container {
    background-color: #ccc;
}

.cabecalho {
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-image: url("./img/exemplo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
    background-color: #ccc;
}

.conteudo {
    line-height: 10px;
}

form {
    border: solid 1px #808080;
    padding: 10px;
}

p {
    color: #008000;
}

button {
    background-color: #0000ff;
    color: #ffffff;
}

footer {
    border-top: solid 2px #ff0000;
}